
* {
    padding: 0;
    margin: 0;
  }

  #logo {
    height: 55px;
  }


  .imgaboutUsPage{
    max-height: 500px;
    width: 100%;
    object-fit: cover; 
  }

  .logo {
    height: 70px;
  }

  .banner {
    background-color:  #F4EEFF;
    /* #F0E0FF;*/
    /* #FFEECC;*/
    height: 700px;
    background-size: cover;
  }

  .bannerCreation{
    background-color: #FAF5FF;
    height: 400px;
    background-size: cover;
  }
  
  .custom-img {
    max-height: 150px;
    width: 100%;
    object-fit: cover; 
  }

.category {
      margin-top: 20px; 
    }

   
    .btn-color{
      background-color:#E6F5FF;
    }
  
 .btn-style{
  background-color: #E6F5FF;
  width: 600px;
 }

  .container-xxl {
    margin-top: 2%;
    margin-bottom: 55px;
  }
  
  .footer-bypass {
    margin-bottom: 55px;
  }

  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
    color: black;
    text-align: center;
    height: 30px;
  }


.rectangleAboutUs{
  height: 700px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAF5FF;
}


.contentAboutUs{
  display: none;
}

.color-purple{
  background-color:  #F4EEFF;}

  .color-blue{
    background-color:#E6F5FF ;
  }