
* {
    padding: 0;
    margin: 0;
  }

  #logo {
    height: 55px;
  }


  .navBar {
    z-index: 9999;
  }

  .logo {
    height: 55px;
  }


  .banner {
    background-color: #FFEECC;
    height: 815px;
    background-size: cover;
  }
  
  .custom-img {
    max-height: 150px;
    width: 100%;
    object-fit: cover; 
  }

   
.category {
      margin-top: 20px; 
    }

   
 .btn-style{
  background-color: #CCEEFF;
  padding: 15px 25px; /* You can adjust these values to increase or decrease the button size */
  font-size: 30px; /* You can adjust the font size as well */
 }

  .container-xxl {
    margin-top: 2%;
    margin-bottom: 55px;
  }
  
  .footer-bypass {
    margin-bottom: 55px;
  }

  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
    color: black;
    text-align: center;
    height: 30px;
  }

  .btn-color{
    background-color:#FFEECC;
  }

.rectangleAboutUs{
  height: 700px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 0, 0.3);
}


.contentAboutUs{
  display: none;
}
